<div class="message-container notification">
  <div class= "d-flex">
    <i class="author">
      <div class ="d-flex flex-column"> </div>
        <div class="avatar-large">
        <% if message.user.avatar.attached?  %>
        <%= cl_image_tag message.user.avatar.key =%>
        <% end %>
        </div>
        <div>
          <span><%= message.user.username %></span>
        </div>
      </div>
    </i>
    <% if message.created_at  %>
      <div class="align-self-start">
        <p class="notification-content notification-time ">
          <%= message.created_at.strftime("%a %b %e at %l:%M%p") %>
        </p>
        <p class="notification-content">
           <%= message.content %>
        </p>
      </div>
    <% end %>
  </div>
</div>


<!--
<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  <div class="notification-content">
    <p><small>14th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>
 -->
