// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #4B88A2;
$yellow: #FFD369;
$orange: #E67E22;
$green: #263F44;
$gray: #0E0000;
$light-gray: #FCFAF4;
$white:#FFFFFF;

$main-text: $blue;

// button colors
$btn-full: $blue;
$btn-empty: gray;

