// Specific CSS for your home-page

.home {
  position: relative;
  display: flex;
   .img {
    background-image: linear-gradient(180deg, rgba(229, 245, 249, 0.84), transparent 70%), url(/images/home.jpg);
    width: 100vw;
    height: 100vh;
    margin:auto;
    background-size: cover;
    background-position: center;
   }
  // display:flex;
  // justify-content:space-around;
  a {
    text-decoration:none;
  }
}
.logo-home {
  // position:absolute;
  // top:30vh;
  // right: 19vw;
  text-align: center;
  color: black;
  padding-top: 20vh;
    *{
    font-size:8vh;
    font-family: "Cinzel", "Helvetica", "sans-serif";
    text-shadow: 0px 0px 7px white;

    }
}

.subheader-home {
  // position:absolute;
  // bottom: 14vh;
  padding: 20px 50px;
  h4{font-family:"Spartan";
    text-decoration: none;
    // color: black;
    padding-top: 44vh;
    color: white;
    font-weight: 100;
    font-size: 22px;

  }
  a{
  }
}
