.section-content {
  margin-bottom: 0px;
}

.show-section {
  margin-bottom: 1vh;
  position: relative;
}

.section-title {
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
  padding-top: 2vh;
}

.rotate {
  transform: rotate(90deg);
}

#chevron {
  position:absolute;

}

.description {
  margin-bottom: 0px;
  overflow: hidden;
  max-height: 100px;

  &.out {
    max-height: 100%;
  }
}

.extend-text {
  font-weight:bold;
}


h6 {
  font-family: "Spartan";
  font-weight: bold;
 }

 .description {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Spartan";
    font-size: smaller;
    font-weight: bold;
  }
  p {
    margin-bottom: 3px
   }
 }

#infos-pratiques  {
  i {
    margin-right:6px;
  }
  padding-left: 2vw;
}
