
.background-white  {
  background-color: white;
}


.background-border-bot {
  border-bottom: 1px solid rgba(100,100,100,0.3);

}

.color-blue {
  color : $green;
  opacity: 0.8;
  font-size:16px;
}

.light-po {
  font-size: 16px;
  font-weight: lighter;
}

.blue-twitter {
  color: #379DEC
}

.green-whatsapp {
  color: #5CC857
}

.blue-facebook {
  color: #385694
}
.icone-share {
  font-size: 24px;
}

.title-visit h4{
  padding-top: 0.5rem;
  font-size: 20px;

}
.title-visit{
  a {
  text-decoration: none;
  }
  h3{
    color:black;
  }
}

.main-card-visit {
    padding-top: 2vh;
    margin-bottom: 1em;
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.information-visit {
  padding-top:0.5em ;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 1em ;
  margin-bottom: 1em;
}

.information-visit p{
  margin-bottom: 0;
}


.share-join-column {
  margin-bottom: 1em;
}

.full-date-visits{
  color: black;
  font-family: spartan;
  font-weight: bold;
  font-size: 14px;
}
