.section-content {
  margin-bottom: 0px;
  flex-direction:column;
}

.show-section {
  margin-bottom: 1vh;
  position: relative;
}

.section-title {
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
  padding-top: 2vh;
}

.rotate {
  transform: rotate(90deg);
}

#chevron {
  position:absolute;

}

.description {
  margin-bottom: 0px;
  overflow: hidden;
  max-height: 100px;

  &.out {
    max-height: 100%;
  }
  img {
    width:100%;
  }
}

.extend-text {
  font-weight:bold;
}


h6 {
  font-family: "Spartan";
  font-weight: bold;
 }

 .description {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Spartan";
    font-size: smaller;
    font-weight: bold;
  }
  p {
    margin-bottom: 3px;
    text-align:justify;
   }
  padding-right:2vw;
  padding-left:2vw;
 }

#infos-pratiques  {
  i {
    margin-right:6px;
  }
  padding-left: 2vw;
}
#lead-text {
  text-align:justify;
  padding-right: 2vw;
  padding-left: 2vw;
}

.extend-text {
  padding-left: 2vw;
}

#avis {
  padding-left: 2vw;
  display:flex;
}
#stars {
 color: #f7bc45;
}
