
<%= link_to exhibition_path(exhibition) do  %>
  <div class="card_marker">
    <% if exhibition.photo.attached? %>
      <div class="img_marker">
        <%= cl_image_tag exhibition.photo.key, height: 80, width: 200, crop: :fill %>
        <% else %>
        <%= image_tag 'image_placeholder.jpg', height: 80, width: 200, crop: :fill %>
      </div>
    <% end %>
    <div class="container_marker">
      <div>
        <p><%= exhibition.title %></p>
      </div>
    </div>
  </div>
<% end %>
