<div class="img_marker"> <%= cl_image_tag exhibition.photo.key, height: 100, width: 220, padding: 0, crop: :fill %>
</div>
<div class="container_marker">
  <div>
    <p><%= exhibition.title %></p>
  </div>
</div>



