<%= render 'shared/map' %>


<div class="carrousel-items">
  <% @exhibitions.each do |exhibition| %>
    <%= link_to exhibition_path(exhibition) do  %>
      <div class="carrousel-item">
        <div class="card_exhibition">
          <div class="carrousel-img">
            <% if exhibition.photo.attached?  %>
              <%= cl_image_tag exhibition.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          </div>
          <P><%= exhibition.title %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

