<div class="blur-text">
  <p style="margin-bottom: 4px">Ouvertes aujourd'hui</p>
</div>
<hr class="card-separator">
<div class="main-text">
  <p style="margin-top: 4px; margin-bottom: 0px">Toutes</p>
</div>

