<h2>nothing scrollllll</h2>

<div class="card-presentation">
  <% Exhibition.all.each do |exhibition| %>
  <p><%= exhibition.title %></p>
  <p><%= exhibition.tags %></p>
  <%#= cl_image_path exhibition.photo %>

  <% end %>
</div>








<div class="scrolling-div">
  <div class="app">
    <h1>Expo next to me</h1>

    <ul class="hs full no-scrollbar">
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
    </ul>

    <h1>Best of 🍔</h1>

    <ul class="hs full no-scrollbar">
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
      <li class="item">card</li>
    </ul>
  </div>
</div>
