<div class="form-group">
  <label class="control-label check_boxes optional">Tags</label>
  <input type="hidden" name="post[tags][]" value="">
  <div class="tag-choices">
    <% @exhibitions.each do |exhibition| %>
      <input hidden type="checkbox" value="<%= exhibition.tags %>" name="post[tags][]" id="post_tags_<%= tag %>">
      <label class="tag-choice" for="post_tags_<%= tag %>">
        <%= tag %>
      </label>
    <% end %>

   </div>



</div>

