
<div class="home">
  <%= link_to exhibitions_path(params: { search: {  lat:'48.87', long:'2.34', opened: '0' }}) do %>
    <div class="img">
      <div class="logo-home">
        <h1>Proxim'Art</h1>
      </div>
      <div class="subheader-home text-center">
        <h4>Toutes les expos autour de vous</h4>
      </div>
    </div>
  <% end %>
</div>



