<div class="container-home">
  <div class="home-img">
    <%= link_to "exhibitions/?search%5Bquery%5D=&distanceRange=3&search%5Blat%5D=48.4656&search%5Blong%5D=2.3289894&search%5Bopened%5D=0&search%5Bopened%5D=0" do %>
    <img src="/images/home.jpg" alt="home" style="height: 100vh; width: 100vw; margin:auto; object-fit: cover; display: block; ">
    <div class="logo-home" type="submit">
            <h1 style="font-size: 32px">Proxim'Art</h1>
        </div>
        <div class="subheader-home text-center">
          <h4>Toutes les expos autour de vous</h4>
        </div>
    <% end %>
  </div>

</div>
