<%= render 'shared/map' %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<img src="pk.eyJ1IjoibmljbzAiLCJhIjoiY2s2MmF1amV1MGJlMzNrbzA0YXdlb3p4NCJ9.Nt68lW4HFO7NO64KQTT16Q" alt="">
<%= image_tag 'https://api.mapbox.com/[...]?access_token=pk.eyJ1IjoibmljbzAiLCJhIjoiY2s3MXRiOXhqMDBrMDNtb2ZoZ2loOGtqOCJ9.i0BNeUYRC6q2W1UlxRN7qw' %>
