
<div class="home-img">
  <%= link_to exhibitions_path do %>
  <img src="/images/home.jpg" alt="home" style="height: 100vh; width: 100vw; margin:auto; object-fit: cover; display: block; ">
      <div class="logo-home moving-letters pt-1 flex-start" type="submit">
          <h1 class="pb-4" style="font-size: 32px">
            <span class="text-wrapper logo-container">
              <span class="letters">Proxim'Art</span>
              <span class="line"></span>
            </span>
          </h1>
      </div>
      <div class="subheader-home text-center">
        <h4>Toutes les expos autour de vous</h4>
      </div>
  <% end %>
</div>
