.btn-primary {
  background: $blue;
  border-radius: 2px;
}

.btn-action-visit {
  background-color: #EBEDF0 ;
  font-size:16px;
  color: #4F535A;
}

.btn-primary a{
  color: white;
}

.btn-new {
  background: $blue;
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}
