a:hover {
  text-decoration: none;
}

.card-search {

  color: $main-text;
  background-size: cover;
  padding: 32px;
  border-radius: 4px;
  opacity: 0.9;
  width: 100vw;
  .form-control:disabled, .form-control[readonly] {
    background-color: #fff;
  }
  select {
    color: #495057;
  }
}

.cards-visit {
  display:flex;
  flex-direction:column;
  a{
    text-decoration:none;
  }

}

.card-visit-likes {

  border: 1px solid #bac6d3;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height:16vh;
  margin-right: 2vh;
  // box-shadow: 2px 2px 8px rgba(100,100,100,0.2);
  display: flex;
  // border-bottom: 1px solid rgba(100,100,100,0.2);
  align-items:center;
  box-shadow: 3px 0 10px rgba(100,100,100,0.2);
  border-radius: 5px;
  width: 350px;
  justify-content: space-around;
  margin: 3vw;
  text-decoration:none;

}

.visits_container {
  display: flex;
  flex-direction:column;

}

.card-visit {
  margin-top: 1vh;
  margin-bottom: 1vh;
  height:12vh;
  margin-right: 2vh;
  // box-shadow: 2px 2px 8px rgba(100,100,100,0.2);
  display: flex;
  // border-bottom: 1px solid rgba(100,100,100,0.2);
  align-items:center;
  a {
    color: gray;
  }
}
  .month {
    font-weight:bold;
    font-family: "Poppins"
  }
  .day-of-month {
    font-weight:bold;
    font-family: "Poppins"
  }
  .user-count {
    font-size: 12px;
  }

.card-visit-date {
  justify-content:space-around;
  width: 16vw;
  margin-right:2vw;
}

.card-visit-date-likes {
  justify-content:space-around;
  width: 18vw;
  margin:3vw;

}

.card-visit-content {
  flex-direction:column;
  flex-grow:1;
  padding-left:1vw;
  p {
  margin-bottom:0
  }
  a {
  text-decoration:none;
  }
}

.card-visit-join {
  padding-right:1vw;
}
.card-separator {
  width:70vw;
}
.card-avis {
  display:flex;
  width:90vw;
  .review {
    margin-left:2vw;
  }
}


h5 {
  text-align: center;
  font-size: 1.75rem;
}

.card-exhibition-visit{
  display: flex;
  font-size: 12px;
  color: black;
  width: 300px;
  padding-left:2vw;
  p{
    font-family:"Cinzel";
    font-size: 16px;
    margin-bottom: 0;
  }
}

.card-img{
  position:relative;
}

.card-visit-img {
  height:100%;
  img{
    height:100%;
    object-fit: cover;
    width: 100px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
