.card_exhibition {
  border: 1px solid #bac6d3;
  padding: 0;
  margin: 2vw;
  box-shadow: 3px 0 10px rgba(100,100,100,0.2);
  justify-content: center;
  border-radius: 5px;
}

.card_exhibition > p {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}


.card_exhibition > h1 {
  font-size: 15px;
  font-weight: bold;
}
.carrousel-items {
  display: flex;
  justify-content: center;
}

.carrousel-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding: 0;
  overflow: hidden;
}

.carrousel-item {
  justify-content: center;
}

.category {
  margin: 0px;
}

.lead_text{
  // margin: 50px;
  padding: 40px;
}
.star{
  margin: 0px;
}

