.card_exhibition {
  border: 1px solid #bac6d3;
  box-shadow: 3px 0 10px rgba(100,100,100,0.2);
  border-radius: 5px;
  width: 350px;
  justify-content: space-around;
  margin: 3vw;
  text-decoration:none;
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
  position:relative;
}

// .container_card {
// display: flex;
// justify-content: center;

// }

.card_exhibition > p {
  font-size: 1rem;
  margin: 10px;
  color: black;
  // text-align: justify;
  max-height: 50px;
  overflow: hidden;
  text-decoration: none;
}


.card_exhibition > h1 {
  color: black;
  font-size: 1rem;
  margin-top: 10px;
  font-family: "Cinzel";
text-align: center;
  // font-style: italic;
  margin-right: 5px;
  margin-left: 5px;
  //font-weight: bold;
  text-decoration: none;

}
.exhibitions-items {
  justify-content: center;
}

.card-img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;

}

.overlay_tag {
  z-index: 99;
  position:absolute;
  background-color: #f44459;
  color:white;
  top:1vh;
  left: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 3px;
  font-weight:bold;
  background-image: linear-gradient(rgba(240,240,240,0.2), rgba(240,240,240,0.2));
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#upcoming {
background-color: #FFD369;
font-weight:bold;

}


.star{
  margin: 10px;
}

.img_marker2 {
  // position: absolute;
  font-size: 15px;
  // bottom: 130px;
  // right: 20px;
}
