.card-search {

  color: $main-text;
  background-size: cover;
  padding: 32px;
  border-radius: 4px;
  opacity: 0.9;
  width: 100vw;
  .form-control:disabled, .form-control[readonly] {
    background-color: #fff;
  }
  select {
    color: #495057;
  }
}

.card-presentation {


}

.card-visit {

}
