.moving-letters {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  font-weight: 200;
  //font-size: 3.2em;
  height: 40px;
  color: $dark-blue;
  -webkit-appearance: none;
  h1 {
    font-family: $logo-font;
    color: $dark-blue;
    font-size: 24px !important;
  }

}

.moving-letters .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;

}

.moving-letters .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: $dark-blue;
  transform-origin: 100% 100%;
  bottom: 0;
}

.moving-letters .letter {
  display: inline-block;
  line-height: 1em;
}



