////////////

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#myValue {
  color:rgba(150,150,150,0.8);
  min-width:100px;
  white-space: nowrap;
}
//////////

.container-search-bar {
  background-color: $white;
  padding: 8px;
  width: 100vw;
  margin-top: 16px;
    #myValue {
      color: $blue;
    }

}


.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  padding: 0px 8px;
  font-size: 16px;
}

.search-form-control .form-control {
  height: 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
    &::placeholder {
      color: rgba(150, 150, 150, .3);
    }
}


.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.search-bottom {
  display: flex;
  justify-content: center;

}

.text-search {
  display: flex;
  align-items: center;
  flex-direction: column;
   p {
    font-size: 24px;
   }
}

.range-text {
    p {
      color: $blue;
      margin-bottom: 0;
    }
    .card-separator {
      justify-content:center;
      width: 40vw;
      margin: 0;
      margin-bottom: 8px;


    }
}


//----------- check opened ----------//
.search-middle {
  text-align: center;
  margin-bottom: 16px;
   .btn-empty {
     &:hover {
         color: $white;
         background-color: $white;
         border-color: #4B88A2;
     }

   }

}

.open-all {
  border: none;
    input[type="checkbox"] {
      display: none;
    }
    .form-check {
      padding-left: 0;

    }
    .form-group {
      margin-bottom: 0;
    }
    .card-separator {
      width: 40vw;
      margin: 0;

    }
    .main-tex {
        p {
          color: $blue;
        }
    }

    .blur-text {
        p {
          color: rgba(100, 100, 100, .4);
        }
    }

}



//----------- slider ----------//
.select-distance {
  color: $blue;
  width: 65%;
}

//------ categories filter --------//

.tag-choices {
  // width: 100vh;
  background-color: #fff;
  display: flex;
  margin: 10px 0;
  justify-content: center;
  position: relative;
    .tags-menu {
      // top: 546px !important;
      // width: 240px;

    }

    .btn {
      padding: 6px 12px;
    }

    label {
      padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: $blue;
      // text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: $blue;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked + label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: $yellow;
        border-color: $blue;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
}

// -------- modal ---------- //
.modal {
  margin-top: 60px;

}

.modal-body {
  padding: 8px 0;
}

.modal-content {
  margin: 0px 0px;
  // width: 40vh;
}

.modal-open .modal {
  // text-align: -webkit-center;

}
